[submodule "API-3DSM-Backend-Client"]
	path = API-3DSM-Backend-Client
	url = https://github.com/whatscodeg3/API-3DSM-Backend-Client.git
	branch = main
[submodule "API-3DSM-Backend-Purchases"]
	path = API-3DSM-Backend-Purchases
	url = https://github.com/whatscodeg3/API-3DSM-Backend-Purchases.git
	branch = main
[submodule "API-3DSM-Frontend"]
	path = API-3DSM-Frontend
	url = https://github.com/whatscodeg3/API-3DSM-Frontend.git
	branch = main
